@charset "UTF-8";

/* Typical Device Breakpoints >> para verificar tamanho das telas oficial */
/* Pequenas telas: até 600px
Celular: 600px até 768px 
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px  */

@media screen and (min-width: 992px){

    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 992px;
    }
}
